@font-face {
    font-family: "sage sans";
    src: url("../fonts/sagesans-Regular.woff") format('woff');
}

body {
    font-family: "sage sans", sans-serif;
    color: #555;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

p {
    font-size: 1.25rem;
    line-height: 2;
}

img {
    max-width: 100%;
}
